@model API.Models.STUDENT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>STUDENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STUDENT_USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STUDENT_USERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STUDENT_PASS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STUDENT_PASS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOUSE_NUMBER_TERM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOUSE_NUMBER_TERM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STREET_TERM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STREET_TERM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSTCODE_TERM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSTCODE_TERM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOUSE_NUMBER_HOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOUSE_NUMBER_HOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STREET_HOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STREET_HOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSTCODE_HOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSTCODE_HOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOBILE_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOBILE_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LANDLINE_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LANDLINE_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL_ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL_ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLACEMENT_NOTES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLACEMENT_NOTES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CV_SUBMITTED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CV_SUBMITTED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CV_APPROVED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CV_APPROVED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROGRAMME.PROGRAMME_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROGRAMME.PROGRAMME_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SRN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
